ul {
	display: block;
  margin: 20px auto;
	width: 20%;
}
#results a{	
  background-color: #eee;
	border: 1px solid #eee;
	width: 77%;
	font-family: Verdana, Helvetica, sans serif;;
	color: #555555;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 15px;
  border-radius: 4px; 
  text-decoration: none;
  display: block;
  margin: 15px auto; 
}
#results a:hover{
  border: 1px solid #d6d6d6;
	color:#000;
	font-weight: bold;
  padding: 15px 15px;
}
li{  
  width: 85%;
  margin: 5px auto;
  margin-left: 0.3em;
  display: block;
}