@import url("images.css");
@import url("table.css");
@import url("inputs.css");
@import url("typographyPdf.css");
@import url("footer.css");

html, body {
	min-height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
#page{
	min-height: 87%;
	text-align: center;
	padding: 20px;
}
h2{
	font-size:130%;
}
form {
	margin: 300px auto 10px auto;
	color: #5a5854;
}
#selection {
	background-color: #f2f2f2;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 5px 5px 5px 30px;
	margin-top: 10px;
}
#res {
	margin-bottom: 40px;
	font-size: 120%;
	font-weight: bold;
}