@import url("images.css");
@import url("table.css");
@import url("links.css");
@import url("inputs.css");
@import url("typography.css");
@import url("footer.css");

html, body {
	min-height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
header{
	height:11%;
	float:center;
	width: 70%;
	margin:20px auto;
}
#page{
	min-height: 77%;
	text-align: center;
	padding-bottom: 3%;
}
h2{
	float:left;
	text-align: left;
	font-family: DejaVu Sans;
	font-size: 130%;
	margin-top: 2%;
	color: #A52A2A;
}
span {
	font-size : 70%;
}
input[type="text"]{
	padding: 10px 20px;
	margin: 8px 0;
	border-radius: 4px;
}
#amka{
	background-color: #bbb;
}
#res {
	margin-bottom: 40px;
	font-size: 120%;
	font-weight: bold;
}